<div class="row">
    <div class="card col-md-3 col-sm-12 p-3">
      <div class="ui statistic">
        <div class="label">
          <h3>Confirmed</h3>
        </div>
        <div class="value text-info">
          {{totalConfirmed}}
        </div>
      </div>
    </div>
    <div class="card col-md-3 col-sm-12 p-3">
      <div class="ui statistic">
        <div class="label">
          <h3>Recovered</h3>
        </div>
        <div class="value text-info">
          {{totalRecovered}}
        </div>
      </div>
    </div>
    <div class="card col-md-3 col-sm-12 p-3">
      <div class="ui statistic">
        <div class="label">
          <h3>Deaths</h3>
        </div>
        <div class="value text-info">
          {{totalDeaths}}
        </div>
      </div>
    </div>
    <div class="card col-md-3 col-sm-12 p-3">
      <div class="ui statistic">
        <div class="label">
          <h3>Active</h3>
        </div>
        <div class="value text-info">
          {{totalActive}}
        </div>
      </div>
    </div>
 </div>
